
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="section">
    <div class="card">
        <div class="card-content">
            <img class="card-img-top img-fluid" src="~/Content/assets/images/samples/origami.jpg"
                 alt="Card image cap" style="height: 5rem" />
            <div class="card-body">
                <h4 class="card-title">Setting Date</h4>
                @*<button type="button" class="btn btn-primary block mb-2"
                            data-bs-toggle="modal" data-bs-target="#modalAdd" onclick="resetModal()">
                        Add Role
                    </button>*@
                <table class="table table-striped" id="tbl_date">
                    <thead>
                        <tr>
                            <th scope="col">Action</th>
                            <th scope="col">Periode</th>
                            <th scope="col">Start</th>
                            <th scope="col">Finish</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>

    </div>

</section>

@section scripts{
    <script src="~/Scripts/Page_SettingDate.js"></script>
    }